<div class="container">
    <div class="row animated fadeInRight">
        <div class="col m10 offset-m1 s12">
            <h2 class="center-align">Vamos entrar?</h2>
            <div class="row">
                <!-- <form class="col m8 offset-m2 s12"> -->
                <%= form_tag sessions_path, :html => { class: 'col m8 offset-m2 s12'} do %>   
                    <div class="row">
                        <div class="input-field col s12">
                            <%= label_tag :email, 'E-mail:' %>
                            <%= text_field_tag :email %>
                        </div>
                        <div class="input-field col s12">
                            <%= label_tag :password, 'Senha:' %>
                            <%= password_field_tag :password %>
                        </div>
                    </div>
                    
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col m12">
                         <p><%= submit_tag 'Entrar', class: "btn btn-large waves-effect waves-light" %></p>
                        </div>
                    </div>
                <!-- </form> -->
                <% end %>
            </div>
        </div>
    </div>
</div>

<script>
  $( document ).ready(function() {
    setTimeout(function() {
      $('#notice-wrapper').fadeOut("slow", function() {
        $(this).remove();
      })
    }, 3000);
  });
</script>

