<!-- <script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script> -->


<div class="container">
   <div class="row">
     <h2 class="col-md-4 col-md-offset-4">Realize seu pagamento</h2>
   </div>
   <legend>O que estou comprando?</legend>
   <p><%= @product.title %> <br>
    Essa compra deixa meu negócio disponível para pesquisa pelo período de 30 dias!
   </p>
   <p>Preço: $<%= "%.2f" % @product.price.truncate(2) %></p>
   <p>Descrição: <%= @product.description %></p>
   <em><%= @session_id %></em>
   <input id='price' type="hidden" value="210">
   <div id="payment_datas">
   <form class="form-horizontal" role="form" action="/order/create" method="POST">
     <div id='payment-datas'>
       <div>
         <input type="hidden" name="product_id" value="<%= @product.id %>">
         <input type="hidden" name="card_token" id="card_token" />
         <input type="hidden" name="sender_hash" id="sender_hash" />
         <input type="hidden" name="session_id" id="session_id" value="<%= @session_id %>" />
         <%= csrf_meta_tag %>
       </div>
       <fieldset>
         <legend>Dados Pessoais do Comprador</legend>
         <div class="input-field">
           <label for="name">Nome Completo</label>
           <input type="text" name='name' class="validate" id="name">
         </div>
         <div class="input-field">
           <label for="email">Email</label>
           <input type="text" name='email' id="email" class="validate">
         </div>

         <div class="input-field"">
           <label for="cpf">Cpf ( APENAS NUMEROS )</label>
           <input type="text" name='cpf' id="email" class="validate">
         </div>


        <div class="input-field"">
           <label for="street">Rua</label>
           <input type="text" class="form-control" name='street'>
        </div>

        <div class="input-field"">
           <label for="number">Numero</label>
           <input type="text" class="form-control" name='number'>
        </div>

        <div class="input-field">
           <label for="district">Bairro</label>
           <input type="text" class="form-control" name='district'>
        </div>

        <div class="input-field">
           <label for="zipcode">CEP</label>
           <input type="text" class="form-control" name='zipcode'>
        </div>

        <div class="input-field">
           <label for="city">Cidade</label>
           <input type="text" class="form-control" name='city'>
        </div>

        <div class="input-field">
           <label for="state">Estado</label>
           <input type="text" class="form-control" name='state'>
        </div>

        <div class="input-field">
           <label for="country">Pais</label>
           <input type="text" class="form-control" name='country'>
        </div>

        <div class="row">
          <div class="input-field col s12 m4">
           <label for="phone_code">DDD</label>
           <input type="text" class="form-control" name='phone_code'>
          </div> 
          <div class="input-field col s12 m8">
             <label for="phone_number">Telefone</label>
             <input type="text" class="form-control" name='phone_number'>
           </div>
        </div>

        <div class="input-field">
           <label for="birthday">Data de Nascimento (DD/MM/AAAAA)</label>
           <input type="text" class="form-control" name='birthday'>
         </div>

       </fieldset>


       <fieldset>

         <legend>Dados do Cartão</legend>

          
          <%= render 'card' %>

         
         <div class="form-group">
           <div class="col s12 m4 offset-m2">
             <button type="button" class="btn btn-success" id="buy-button">Confirmar dados do cartão</button>
           </div>
         </div>
       </fieldset>
     
     </div>
     <div id='finish-buy' style="display: none">
       <fieldset>
         <legend>Confirmar Pagamento</legend>
         <div class="form-group">
           <div class="col-sm-offset-3 col-sm-9">
             <%= csrf_meta_tags %>
             <button type="submit" class="btn btn-success" id="buy-button">Finalizar Compra</button> <br>
             <button type="button" class="btn btn-primary" id="edit-payment">Editar Meio de Pagamento</button>
           </div>
         </div>
       </fieldset>
     </div>
   </form>
   <br><br>

   <%= link_to 'Voltar', users_path, class: 'btn btn-primary btn-large' %>

 </div>
</div>
