<div class="container card-wrapper">

  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <%= image_tag("profile_icon.svg", :alt => "Meu perfil") %>
          <span class="card-title">Meu Perfil</span>
        </div>
        <div class="card-content">
          <p>Aqui é o lugar para você dar manutenção no seu perfil, como alterar dados, trocar senha,
            emails, e coisas asism! É importante que estes dados estejam sempre atualizados!</p>
        </div>
        <div class="card-action">
          <%=link_to 'Meu Perfil', edit_user_path(current_user), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <%= image_tag("business_icon.svg", :alt => "Meu negocio") %>
          <span class="card-title">Meu Negócio</span>
        </div>
        <div class="card-content">
          <p>Aqui é onde você vai criar ou editar seu negócio! Esta parte merece uma atenção toda especial,
            pois os dados auqi informados serão exibidos pelo Aplicativo!</p>
        </div>
        <div class="card-action">
          <% if current_user.business.present? %>
            <%= link_to 'Editar Meu Negócio', edit_business_path(current_user.business.id), class: 'btn btn-primary' %>
          <% else %>
            <%= link_to'Criar Meu Negócio', new_business_path, class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


    <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <%= image_tag("profile_icon.svg", :alt => "Meu perfil") %>
          <span class="card-title">Pagamentos</span>
        </div>
        <div class="card-content">
          <p>Aqui é onde você realiza pagamentos e controle os pagamentos já realizados!</p>
        </div>
        <div class="card-action">
          <%= link_to 'Comprar Produto', order_new_path(product_id: '1'), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>

</div>






