<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nome:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>E-mail:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Senha</strong>
    **********
  </p>

  <%= link_to 'Editar', edit_user_path(@user) %> |
  <%= link_to 'Voltar', users_path %>
</div>
