<!DOCTYPE html>
<html>
  <head>
    <title>Marmiteco</title>
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>

  </head>

  <body>

  
    <ul id="slide-out" class="side-nav">
      <li><div class="user-view">
        <div class="background">
          <%= link_to (image_tag 'small_logo.png'),'#' , class: 'side-logo' %>
        </div>
          
          
      </div></li>
      <% if session[:id].present? %>
        <li><%= link_to('Sair', session_path(1), method: :delete) %></li>
      <% else %>
        <li><%= link_to 'Entrar', new_session_path %></li>
        <li><div class="divider"></div></li>
        <li><%= link_to 'Cadastrar', new_user_path %></li>
      <% end %>

    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse hide-on-med-and-up"><i class="material-icons">menu</i></a>
        
    <nav>
       <div class="nav-wrapper">
         <%= link_to (image_tag 'small_logo.png'), root_path, { :"data-turbolinks" => false, class: "brand-logo" } %>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
           <% if session[:id].present? %>
              <li><h4>Olá, <%= current_user.name %>!</h4></li>
              <li><li><%= link_to('Sair', session_path(1), method: :delete) %></li></li>
          <% else %>
              <li><%= link_to 'Marmiteco', root_path, :"data-turbolinks" => false %></li>
              <li><%= link_to 'Como funciona?', '#' %></li>
              <li><%= link_to 'Entrar', new_session_path %></li>
              <li><%= link_to 'Cadastrar', new_user_path %></li>
           <% end %>
         </ul>
       </div>
     </nav>
     <br>
    <%= yield %>
  </body>
</html>
