<!DOCTYPE html>
<html>
  <head>
    <title>Marmiteco</title>
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul id="dropdown1" class="dropdown-content">
      <% if session[:id].present? %>
        <li><%= link_to 'Editar Meu Perfil', edit_user_path(current_user) %></li>
        <% if current_user.business.present? %>
          <li><%= link_to 'Editar Meu Negócio', edit_business_path(current_user.business.id) %></li>
        <% else %>
          <li><%= link_to'Criar Meu Negócio', new_business_path %></li>
        <% end %>
        <li><%= link_to('Sair', session_path(1), method: :delete) %></li>
      <% else %>
        <li><%= link_to 'Entrar', new_session_path %></li>
        <li><%= link_to 'Cadastrar', new_user_path %></li>
      <% end %>
    </ul>

    <nav>
       <div class="nav-wrapper">
         <%= link_to (image_tag 'small_logo.png'), root_path, { :"data-turbolinks" => false, class: "brand-logo" } %>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
           <% if session[:id].present? %>
              <li><h4>Olá, <%= current_user.name %>!</h4></li>
              <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Usuário<i class="material-icons right">arrow_drop_down</i></a></li>
          <% else %>
              <li><%= link_to 'Home', root_path, :"data-turbolinks" => false %></li>
              <li><a href="#">Sobre nós</a></li>
              <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Usuário<i class="material-icons right">arrow_drop_down</i></a></li>
           <% end %>
         </ul>
       </div>
     </nav>
     <br>
    <%= yield %>
  </body>
</html>
